*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('OIUF350.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 620px;
    width: 400px;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    background-color: rgba(159, 99, 20, 0.822);
}

h1{
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="text"]{
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.567);
    color: rgb(0, 0, 0);

}
input[type="submit"] {
    width: 85%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 165, 0, 0.8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
    background-color: rgba(255, 140, 0, 0.9);
    transform: scale(1.05);
}

input[type="text"]:focus, input[type="password"]:focus{
    border-color: rgba(255, 255, 255, 0.8);
    outline: none;
}

.btn{
    display: flex;
    justify-content: center;
    flex-flow: row;
    height: 50px;
    width: 100%;
    gap: 10px;
}

#account_google, a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 160px; 
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#btn-cria_conta{
    width: 143px;
    border: 4px solid rgba(255, 140, 0, 0.9);
    background: none;
    font-size: 18px;
    border-radius: 5px;
    color: rgb(255, 128, 0);
    font-weight: bold;
}

#btn-cria_conta:hover{
    background-color: rgb(255, 140, 0);
    color: white;
}